
html, body {
  overflow-x: hidden;
}


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #3a7d44, #a6bf3a);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #094b03;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.menu-toggle {
  display: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; 
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: white; 
  margin-right: 20px; 
  text-decoration: none;
  font-size: 16px;
}

.navbar-link:hover {
  text-decoration: underline;
  color: #04ff3e;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px; 
  margin-left: 20px; 
}

.logo{
  display: flex;
  flex-direction: column;
  
}

.logo h1{
  color: #04ff3e;
  font-size: 20px;
  height: 1px;
  padding-right: 120px;
}

.logo h2{

  font-size: 20px;

}

.logout-button:hover {
  color: #04ff3e; 
}


.content {
  margin-top: 60px;
}


@media (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  
  .navbar-right {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #094b03;
    position: absolute;
    top: 60px; 
    left: 0;
    padding: 10px 0;
  }


  .navbar-right.show {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-link {
    display: flex;
    margin: 10px 0;
    text-align: center;
    width: 100%;
   
  }

  .navbar-link:hover {
    background-color: #04ff3e;
  }


  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left:110px;
  }

  .menu-toggle:hover {
    color: #04ff3e;
  }
}

